*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100vw;
    height: auto;
}

div.Wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form{
    width: 40%;
}

h3{
    width: 40%;
}

@media(max-width: 768px){
    .form{
        width: 100%;
    }
    h3{
        width: 100%;
    }    
}

.error-msg{
    font-size: 20px;
    width: 100%;
    color: red;

}
.custom-input{
    margin-bottom: 10px;
}

.success-msg{
    width: 100%;
    background-color: #FFFFFF;
    
    font-weight: 600;
    padding: 20px;
}  